<div class="container pt-3  comp-wrap ">
  <div class="   d-flex justify-content-between align-items-end">
    <h5 >Account Info</h5>
    <button class="border-style pt-1 pr-3 pl-3 pb-1">Delete Account</button>
  </div>
  <div class=" item_body mt-2 border-style comp-wrap  ">

    <div class="alert alert-danger d-flex justify-content-between" role="alert" *ngIf="!user.emailVerified"  >
      <i class="far fa-bell"></i>
      <span class="alert-span"> Verify your email. We sent the verification link to  {{user.email}}  </span>

      <button class="border-style pt-1 pr-3 pl-3 pb-1">Resent the link</button>
    </div>
    <form action="" class="p-3">
      <div class="d-flex justify-content-start">
        <label  class=" ">Email:</label>
        <div class=" ">
          <input type="email" class="border-0" placeholder="user@email.com" >
        </div>
      </div>
      <div class="d-flex justify-content-start">
        <label  class=" ">Password:</label>

        <div class="d-flex row col flex-wrap flex-md-nowrap justify-content-start justify-content-md-between ">
          <div class=" pr-1 position-relative account-icon input-wrap">
            <input type="password" class="border-style password-input    " placeholder="Current passwors" >
          </div>
          <div class="pr-1 position-relative account-icon input-wrap">
            <input type="password" class="border-style  password-input  " placeholder="Set new password" >
          </div>
          <div class="pr-1 position-relative account-icon input-wrap">
            <input type="password" class="border-style password-input  " placeholder="Confirm new password" >
          </div>
<!--          <button class="form-btn">Save</button>-->
          <a   class="form-btn">Save</a>
          </div>
      </div>


    </form>

  </div>
</div>

